.city{
  background-image: url('/static/images/nairobi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
  color: white; 
  margin-top: -50px;
}




html {
  height: 100%; }

body {
  min-height: 100%;
  padding-top: 50px;
  /* background-image: url('/static/images/nairobi.jpg'); */
  /* height: 70vh; */
  background-color: #fafafa; }
  body.white {
    background-color: #fff; }
    body.white .content-wrapper {
      background-color: #fff; }

a:hover {
  text-decoration: none; }

.content-wrapper {
  margin-top: 57px;
  margin-bottom: 60px;
  background-color: #fafafa; }
  @media screen and (max-width: 768px) {
    .content-wrapper {
      margin-top: 50px; } }






.desktop-block {
  display: block; }
  @media screen and (max-width: 724px) {
    .desktop-block {
      display: none; } }



.navbar {
  background-color:transparent;
  border: none;
  z-index: 100;
  color: white;
}
  .navbar .fa {
    /* font-size: px; */
    color: #fff; }
    .navbar .fa.active {
      color: #333; }
  
  .navbar .navbar-brand:not(:first-of-type) {
    float: right; }
  @media screen and (max-width: 768px) {
    .navbar#main-nav {
      top: initial;
      bottom: 0;
      margin: 0;
      border-top: 1px solid #ccc; }
    .navbar .desktop {
      display: none; }
    .navbar .mobile {
      display: block; } }

.back-button .fa {
  color: #333;
  margin-right: 15px; }
.back-button:hover {
  cursor: pointer; }



@media screen and (min-width: 768px) {
  .profile-settings, .auth-form {
    max-width: 60%;
    margin: 0 auto;
    border-top: none; } }

.profile-settings {
  margin-top: 60px;
  border-top: 1px solid #dbdbdb; }




.profile {
  max-width: 975px;
  padding: 60px 20px 0;
  margin: 0 auto; }
  .profile__head {
    margin-bottom: 40px; }
    .profile__head .left {
      text-align: center; }
    .profile__head h1, .profile__head .edit-profile, .profile__head .options-bubble {
      vertical-align: middle; }
    .profile__head h1 {
      display: inline-block;
      margin: 0; }
    .profile__head .edit-profile {
      margin-left: 20px;
      margin-right: 11px;
      font-size: 16px;
      font-weight: 600;
      color: #999;
      border: 1px solid #999;
      border-radius: 3px;
      padding: 0 11px;
      line-height: 28px;
      background-color: #fafafa; }
      .profile__head .edit-profile:hover {
        text-decoration: none;
        cursor: pointer; }
    .profile__head .options-bubbles p {
      vertical-align: middle; }
    .profile__head .edit-profile, .profile__head .options-bubbles {
      margin-top: 5px;
      cursor: pointer; }
    .profile__head .edit-mobile {
      display: none; }
    .profile__head .name-buttons {
      margin-bottom: 20px; }
    .profile__head .description {
      font-size: 17px; }
  .profile__body > .row > .col-xs-4 {
    padding: 13px; }
  @media screen and (max-width: 992px) {
    .profile {
      padding: 60px 0; } }
  @media screen and (max-width: 724px) {
    .profile {
      padding-top: 15px; }
      .profile__head {
        margin-bottom: 10px; }
        .profile__head .picture-circle, .profile__head .picture-circle--medium, .profile__head .picture-circle--small {
          width: 75px;
          height: 75px;
          margin-top: 5px; }
        .profile__head h1 {
          font-size: 21px;
          margin-right: 11px; }
        .profile__head .name-buttons {
          margin-bottom: 12px; }
        .profile__head .edit-desktop {
          display: none; }
        .profile__head .edit-mobile {
          display: block; }
          .profile__head .edit-mobile .edit-profile {
            font-size: 14px;
            margin: 0;
            padding: 0 8px;
            line-height: 24px; }
        .profile__head .col-xs-4.left {
          width: auto; }
      .profile__body > .row > .col-xs-4 {
        padding: 1px; } }



.side{
  border-right-style: solid;
}
