{% extends 'base.html' %}
{% block content %}
<div class="city">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center" style="text-shadow:#000 2px 2px 15px;"> 
        <h1 style="margin-top: 274px">Share a ride in Nairobi</h1>
      </div>
    </div>
  </div>
</div>
<div class="block">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="m-b-md"><strong>Car poolers in Nairobi</strong></h3>
        <p class="lead">
          Wherever you are headed in the city under the sun, count on Car poolers for rides within minutes! 
        </p>
        <a href="/rider/" class="btn btn-lg btn-primary">Ride with Car Poolers</a>
      </div>
    </div>
  </div>
</div>
<div class="block p-y-lg" style="background: #f1f1f1">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3><strong> Earn Money with Car Poolers</strong></h3>
        <p class="lead">Work with your own schedule. No monthly fees, no minimum hours and no boss.</p>
        <a href="/driver/" class="btn btn-lg btn-primary">Drive with Car Poolers</a>
      </div>
    </div>
  </div>
</div>
<div class="block block-inverse app-footer">
  <div class="container">
    <div class="row m-t-md">
      <div class="col-sm-12">
        <ul class="list-inline text-center">
          <li>
            <a href="#" target="blank" rel="nofollow">
              <span class="icon icon-facebook-with-circle" style="font-size:3em;"></span>
            </a>
          </li>
          <li>
            <a href="#" target="blank" rel="nofollow">
              <span class="glyphicon glyphicon-twitter-with-circle" style="font-size:3em;"></span>
            </a>
          </li>
          <li>
            <a href="#" target="blank" rel="nofollow">
              <span class="icon icon-instagram-with-circle" style="font-size:3em;"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ul class="list-inline text-center">
          <li>
            <p>Terms and  conditions for Riders</p>
          </li>
          <li>
            <p>General terms for Drivers</p>
          </li>
          <li>
            <p>Privacy Policy</p>
          </li>
        </ul>
        <p class="text-center m-t-md">© 2017 Car Poolers</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}